body{
    height: 100vh;
}
ul{
    padding-inline-start:0px;
}
li{
    list-style: none;
}
.inputTag{
    padding: 0 10px;
    width: 1260px;
    height: 250px;
    border: solid 1px rgb(31, 133, 188);
    border-radius: 6px;
}
.keyboard {
    width: 1280px;

    margin: 0 auto;
    padding: 0px 0;
}
.main  {
    padding: 10px 22px ;
    background-color: rgb(6, 105, 159);
    
}

.ulTag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;

}
li {
    position: relative;
    min-width: 34px;
    padding: 17px 17px;
    font-size: 30px;
    text-align: center;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgb(222, 235, 242);
}
.gray{
    background-color: rgb(40, 43, 45);
    color: aliceblue;
}
li:hover{
    background-color: rgb(157, 186, 202);
}
.keybotton{
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    font-size: 18px;

}
.divSescription{
    padding: 25px;
    background-color: rgb(40, 43, 45);
    color: aliceblue;
    text-align: center;
    font-size: 28px;
}


.Backspace  {
    width: 150px;
}
.Delete {
    width: 60px;
}
.Enter {
    width: 116px;
}
.CapsLock {
    width: 150px;
}
.ShiftLeft {
    width: 150px;
}
.ShiftRight {
    padding: 17px 0;
    width: 70px;
}

.ControlLddeft,
.ControlRight {
    width: 80px;
}
.Space {
    width: 432px;
}

.highlight{
    background-color: rgb(157, 186, 202);
}